h1 {
    color: pink;
}

body{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/927/773/231/game-of-thrones-house-targaryen-fire-and-blood-dragon-sigils-wallpaper-preview.jpg) ;
    background-repeat: no-repeat;
}